* {
    margin: 0;
    padding: 0;
}

body {
    display: inline-block;
}

#content {
    background-image: url(./assets/noise-img.png);
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    border: 10px groove #c185a4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-family: 'Crafty Girls', serif;
    font-size: 5em;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 15px #0066ef;
}

nav {
    margin: 0px 5rem;
    align-self: stretch;
    display: flex;
}

nav button{
    padding: 1rem 0rem;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    font-family: Roboto, sans-serif;
    border: ridge 0.5rem white;
    border-radius: 10px;
    text-shadow: 0 0 10px black;
    background-image: linear-gradient(to bottom right, #2323fb, #000066);
    flex-grow: 1;
}

#tabContent {
    margin: 0px 5rem 5rem 5rem;
    padding: 3rem;
    border: ridge 0.5rem white;
    border-radius: 10px;
    color: white;
    font-family: Roboto, sans-serif;
    text-shadow: 0 0 10px black;
    background-image: linear-gradient(to bottom right, #2323fb, #000066);
    flex-grow: 1;
    align-self: stretch;
}

.tabSection{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.menuSection{
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
    gap: 0.5rem;
}

.menuSection .menuItem {
    border: ridge 0.5rem white;
    border-radius: 10px;
    padding: 0.5rem;
    height: 10rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.menuItem .itemText .itemSeperator{
    width: 100%;
    height: 1px;
    background-color: white;
}

.menuSection .menuItem img {
    max-height: 6rem;
    width: auto;
}

.menuSection .menuItem .itemText {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-self: stretch;
}

.menuSection .menuItem .itemText .itemName {
    font-size: 1.5vw;
}

.menuSection .menuItem .itemText .itemDesc {
    font-size: 0.8rem;
    flex-grow: 1;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menuSection .menuItem .itemText .itemPrice {
    text-align: end;
    justify-self: flex-end;
}